.right_content_top {
  margin-top: 20px;
  height: 40px;
  width: 100%;
  line-height: 40px;
  color: #1c66a4;
  font-size: 13px;
  font-weight: bold;
  background: #FFF;
  padding-left: 3%;
  border-radius: 5px;
}
.right_content_top > a {
  color: #707070;
}
.search {
  width: 94%;
  margin: 0 auto;
  font-size: 14px;
  font-weight: bold;
  color: #106093;
  line-height: 30px;
  margin-top: 8px;
}
.firstpage {
  height: auto;
  margin: 0 auto;
}
.firstpage > .usergroup {
  width: 94%;
  margin: 10px auto 0 auto;
}
.firstpage > .usergroup > form > table > tbody > tr {
  height: 30px;
  color: #6d6d6d;
}
.firstpage > .usergroup > form > table > tbody > tr > td > span {
  color: #ec1d23;
  padding-right: 5px;
}
.firstpage > .usergroup > form > table > tbody > tr > td > label .szbuxl {
  width: 300px;
  height: 28px;
  line-height: 28px;
  text-align: left;
  padding:3px 0;
  border: 1px solid #e6e6e6;
  color: #6d6d6d;
  padding-left: 10px;
  outline: none;
  border-radius: 5px;
}
.firstpage > .usergroup > form > table > tbody > tr > td > label .szbuxl.szbuxl:focus {
  border: 1px solid #3d81ae;
}
.firstpage > .usergroup > form > .nature {
  background: #fff;
  border: 1px solid #e4e4e4;
  verflow: hidden;
}
.firstpage > .usergroup > form > .nature > .nature_bq {
  background-color: #ebebeb;
  height: 35px;
  line-height: 35px;
  padding-left: 2%;
  color: #686868;
}
.firstpage > .usergroup > form > .nature > .nature_nr_cc {
  width: 96%;
  margin: 0 auto;
}
.firstpage > .usergroup > form > .nature > .nature_nr_cc > table > tbody > tr {
  height: 30px;
  color: #6d6d6d;
}
.firstpage > .usergroup > form > .nature > .nature_nr_cc > table > tbody > tr > td > span {
  color: #ec1d23;
  padding-right: 5px;
}
.firstpage > .usergroup > form > .nature > .nature_nr_cc > table > tbody > tr > td > .kkkke {
  width: 300px;
  height: 28px;
  line-height: 28px;
  border: 1px solid #c7c7c7;
  color: #525252;
  padding-left: 4px;
  outline: none;
  border-radius: 5px;
}
.firstpage > .usergroup > form > .nature > .nature_nr_cc > table > tbody > tr > td > .kkkke.kkkke:focus {
  border: 1px solid #3d81ae;
}
.firstpage > .usergroup > form > .submit {
  width: 60%;
  margin-top: 26px;
  margin-bottom: 10px;
  margin-left: 7%;
  overflow: hidden;
}
.firstpage > .usergroup > form > .submit > .confirm {
  width: 95px;
  display: block;
  height: 30px;
  cursor: pointer;
  background: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  color: #737373;
  font-family: "Microsoft YaHei";
  margin: 0 auto ;
  line-height: 25px;
  float: left;
  margin-right: 10px;
}
.firstpage > .usergroup > form > .submit > .confirm.confirm:hover {
  color: #fff;
  background-color: #1c66a4;
}
.firstpage > .usergroup > form > .submit > .cancel {
  width: 95px;
  display: block;
  height: 30px;
  cursor: pointer;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #c7c7c7;
  color: #737373;
  font-family: "Microsoft YaHei";
  margin: 0 auto ;
  line-height: 25px;
  float: left;
  margin-right: 10px;
}
.firstpage > .usergroup > form > .submit > .cancel.cancel:hover {
  color: #fff;
  background-color: #1c66a4;
}
